@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  line-height: 1.6;
  font-family: 'Lato', sans-serif;
}

mark {
  color: red;
  background: #fff;
}

h1 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.nav p {
  text-align: center;
  font-size: 1.3rem;
}

.nav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 260px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #ccc;
  /* Black */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 5px;
}

#navbar li {
  list-style-type: none;
  border-bottom: 1px solid #000;
}

#navbar li:nth-child(odd) {
  background-color: #d4d4d4;
}

#navbar li:hover {
  background: #000;
}

#navbar li:hover a {
  color: #fff;
}

#navbar li a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  padding: 10px;
  text-transform: uppercase;
  color: #000;
}

#main-doc {
  margin-left: 260px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.mainsection {
  margin-bottom: 10px;
}

.mainsection header {
  font-size: 1.6rem;
  font-weight: bolder;
  text-transform: capitalize;
  padding: 5px;
  text-align: center;
}

.mainsection p {
  font-size: 1.3rem;
  margin-bottom: 15px;
  margin-left: 10px;
}

.mainsection p::first-letter {
  font-size: xx-large;
}

.mainsection p::first-line {
  font-weight: bold;
  color: #7f7f7f;
}

.mainsection pre {
  background: #373d3f;
  padding: 20px;
}

.mainsection code {
  color: #fff;
  padding: 20px;
}

#reference a {
  display: block;
  text-decoration: none;
  color: #000;
}

#reference a:hover {
  color: #000;
  font-size: 1.4rem;
}

@media screen and (max-width: 700px) {
  .nav {
    width: 100%;
    height: auto;
    position: relative;
  }

  #main-doc {
    margin-left: 0;
  }
}
